@font-face{
    
    font-family: Slim Joe;
    src: url("fonts/Slim-Joe.otf");
    
}

#mainPane{

    -fx-background-color: #00A8E7;

}

#codeInput{
    
    -fx-background-color: #00A8E7;
    -fx-border-style:dashed;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-font-familly: Slim Joe;
    -fx-text-fill:white;
    -fx-font-size: 31;
}

#emailInput, #passwordInput{
    
    -fx-font-family:Slim Joe;
    -fx-font-size: 16;
    -fx-text-weight: bold;
    -fx-text-fill:#3498db;
    -fx-background-color:white;
    
    
}

#infoInput, #title{
    
    -fx-font-family:Slim Joe;
    -fx-font-size: 20;
    -fx-text-weight: bold;
    -fx-text-fill:white;
    
    
}

#sendBtn{
    
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-font-family: Courier New;
    -fx-font-size: 15;
    -fx-text-fill: #00A8E7;
    
}

#checkBtn{
    
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-font-family: Courier New;
    -fx-font-size: 15;
    -fx-text-fill: #00A8E7; 
    
}

#changeBtn{
    
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-font-family: Courier New;
    -fx-font-size: 15;
    -fx-text-fill: #00A8E7; 
    
}

#close{
    
    -fx-background-color: transparent;
    -fx-font-family: Kartika;
    -fx-font-size:19;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-insets: 5 5 12 5;
    
}